* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-align-centered{
  align-items:center;
}
.flex {
  display: flex;
}
.flex-dir_col{
  flex-direction: column;
}
.flex-col_just-arround{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}
.font-text{
  font-size:24px;
}
.font-title{
  font-size:42px;
}
.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}
.checked-letter{
  background: green;
}
.undeline-letter{
  text-decoration: underline solid green;
}
/* Modal */
.modal{
  width: 20vw;
  height: 20vh;
  position: absolute;
  top:30vh;
  left: 38vw;
  background-color:white;
  border: 2px solid gray;
  box-shadow: 0 0 100vw 60vw rgba(128, 128, 128, 0.7);
}
.modal-input{
  height: 3vh;
  width: 80%;
}
.modal-button{
  margin-right: 20px;
  padding: 5px 10px 5px 10px;
}
.modal-winer_size{
  width: 25vw;
  height: auto;
  min-height: 40vh;
}
/* Rooms */
.left_pad{
  padding-left: 4vw;
}
.rooms-title{
  height: 20vh;
}
.rooms-button_big{
  width: 10vw;
  height: 6vh;
}
.list-rooms{
  overflow:auto hidden;
  width: 88vw;
  padding: 12vh 0 6vh 0;
}
.room-card{
  min-width: 20vw;
  height: 35vh;
  border: 2px solid gray;
  margin-right: 30px;
}
.room-users{
  height: 4vh;
}
.room-card__content{
  width: 100%;
  height: 31vh;
}
.rooms-button_small{
  width: 6vw;
  height: 5vh;
}
.room-card__content_flex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}
.rooms-title_font{
  font-size: 2.5vw;
}
.room-title_font{
  font-size: 2vw;
}
/* Game */
.marg-top_small{
  margin-top: 0.5vh;
}
.marg-top_big{
  margin-top: 2vh;
}
.left-side{
  width: 30vw;
  padding: 5vh 1vw 15vh 1vw;
}
.game-navigation{
  height: 20vh;
  padding: 1vh 0.5vw;
}
.users-status-list{
  height: 61vh;
  padding: 3  vh 0.5vw 0 0.5vw;
  overflow: auto;
}
.user-status{
  height: 8vh;
  margin-top: 2vh;
}
.user-status__title{
  padding-left: 15px;
}
.left_pad-mid{
  padding-left: 20px;
}
.circle{
  width: 10px;
  height: 10px;
  clip-path: circle();
}
.ready{
  background-color:var(--ready-user-background);
  border: var(--ready-user-border);
}
.not-ready{
  background-color:var(--not-ready-user-background);
  border: var(--not-ready-user-border);
}
.user-status__line{
  width: 100%;
  height: 3.5vh;
  border: 2px solid black;
}
.color-line{
  background-color: var(--ready-user-border);
}
.size-line{
  width: 0%;
  height: 100%;
}
.main{
  width: 70vw;
  padding: 5vh 1vw 15vh 3vw;
}
.main-content{
  width: 45vw;
  height: 81vh;
  border: 2px solid black;
}
.right-sideInfo{
  width: 12vw;
  height: 10vh;
  position:absolute;
  left: 82vw;
  top: 10vh;
  font-size: 1.5vw;
}
button{
  background-color:var(--main-button-background-color);
  border:2px solid var(--main-button-border-color);
  box-shadow: 2px 2px 4px 2px gray;
}
.button_small{
  width: 9vw;
  height: 6vh;
}
.button_big{
  width: 10vw;
  height: 10vh;
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
  --ready-user-background:rgb(0, 195, 0);
  --ready-user-border:green;
  --not-ready-user-background:rgb(223, 0, 0);
  --not-ready-user-border:rgb(187, 0, 0);
}
